*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.contain{
    max-width: 1140px; margin:0 auto;
}
.navbar{
    display: flex;  
     justify-content: space-between;
     align-items: center;

}
.nav-links{
    display: flex;
    gap: 48px; 
    list-style: none;}
    

   

a{
    text-decoration: none; color: #8987A1 ;
    font-weight: 600;
}
.black{
    color: black;
}
/* banner styling */
.banner{
    margin-top: 7.5rem;
    display: flex;
    
     max-height: 28.8125rem; 
     /* border: 1px solid tomato; */
    
}
/* banner-left styling */
.banner-left{
     width: 50%; 
    padding-top: 10.125rem;
      height:299px;  
}
.banner-title{
    padding-bottom: 13px;
    font-size:4.0625rem;
    font-family: ;
}
.banner-description{
    font-size:1.375rem ;
    color: rgba(0, 0, 0, 0.5);
}
.orange{
    color: #E95A08;
}
/* banner-right styling */
.banner-right img{
    padding-top:80px ;
     width:570px; 
}
 /* main-text styling */
 .main-text{
    text-align: center;
    padding-top: 120px;
 }
 .main-text-title{
    margin-bottom:16px ;
    font-size:50px ;
    font-family: 700;
 }
 .main-text-description{
       font-size:1.375rem ;
    color: rgba(0, 0, 0, 0.5); 
    max-width: 888px;
   margin: 0 auto;

 }
/* MAIN-CARD STYLING */
.main-card{
    width: 270px; 

}
.main-card img{
    height: 323px; width: 100%;
}


   

.lily{ text-align: center; 
    font-size: 22px;
    margin-top: 30px;

}
.usd{
 text-align: center; 
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
}




.btn{
    height: 50px ; width: 100%;
    margin-top: 20px;
    background-color: #E95A08;
    border: none;
    color: white;
    font-size: 16px; font-weight: 500;

}
.card {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    margin-top:49px ; 
    
}

/* challange-part */
.challange{
    margin-top: 210px;
    width: 1140px; height: 597px;
    
    display: flex;

}

.c-left{
    display: flex; position: relative;
}
.badge img{
    max-width: 286px; height: 286px; 
    position: absolute;
    top: -25%;
    left: 65%;
   filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.5));
}
.store{
    width: 540px; height: 597px;
}
.c-right{
    padding-left:60px ;
    margin: 100px 0;
     width: 540px; height: 521px;
    
}
.c-right-head{
    font-size: 50px;
    font-weight: bold;
    width: 540px; height: 137px;

}
.c-right-description li{
    color: #8987A1;
    font-size: 22px;
    font-weight: 500;
    padding-bottom: 20px;
    max-width: 540px;
}

/* DEALS STYLING */
.deals-head {
    text-align: center;
    font-size: 50px;
    font-weight: 800;
    margin-top:134px ;
}
.deals-description{
    text-align: center;
     font-size: 22px;
    font-weight: 400;
    margin-top:16px ;
    color: #8987A1;
}

.deals-pic{
     max-width: 1140px; height: 423.12px;
     /* border: 1px solid tomato; */
     margin-top:120px ;
     display: flex;
     
    
}

/* .deals-pic-left{ 
    width:25% ;}*/


  .background-1::before {  
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-image: url(./assets/deal-bloom.png) ;
  background-size: cover;
  background-position: center;
 background-color: rgba(0, 0, 0, 0.3); /* 0.5 = 50% black */
  background-blend-mode: darken;
   z-index: -1;  border-radius:22px ;
}
.background-2::before {
    content:"" ;
background-image: url(./assets/deal-ana.png);
position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
 
  background-size: cover;
  background-position: center;
 background-color: rgba(0, 0, 0, 0.3); /* 0.5 = 50% black */
  background-blend-mode: darken;
   z-index: -1;
    border-radius:22px ;
}





.background-1 {
    width: 357px; height: 201px;
    /* border: 2px solid green; */
    text-align: center;
    color: #ffffff;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
border-radius: 14px;
position: relative;
z-index: 1;

}
.background-2{
    width: 357px; height: 201px;
    /* border: 2px solid green; */
    text-align: center;
    color: #ffffff;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
border-radius: 14px;
margin-top: 19px;
position: relative;
z-index: 1;



}


.background-1 p {   padding-top:65px  ;
    font-size: 20px; 
    font-weight: bold; position: relative;
 
}









.background-2 p{   padding-top:65px  ;
 font-size: 20px; 
    font-weight: bold; position: relative;
}



.bg-link{
    margin-top: 15px;
    
    display: flex;
    justify-content: center; align-items: center;
    color: rgb(255, 255, 255);
    font-weight: 700;
    position: relative;}

/* deals-pic-right styling */


.deals-pic-right{
    width: 753px ; height: 423.13px;text-align: center;
  color: #ffffff;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
border-radius: 14px;
position: relative;
z-index: 1;
margin-left: 27px;

}
.background-3{
    padding-top:172px ;
}
.deals-pic-right-head{
    font-size: 50px; 
    font-weight: bold; color: rgb(255, 255, 255);
    position: relative;
}
.deals-pic-right-link{
    font-size: 28px; 
    color: rgb(255, 255, 255);
      position: relative;
      margin-top: 15px;
}
.deals-pic-right ::before{
    position: absolute;
    content:"" ;
  top: 0; left: 0; right: 0; bottom: 0;
 background-image: url(./assets/deal-zabo.png);
  background-size: cover;
  background-position: center;
 background-color: rgba(0, 0, 0, 0.3); /* 0.5 = 50% black */
  background-blend-mode: darken;
   z-index: -1;
   border-radius:22px ;
   background-repeat: no-repeat;
}






@media screen and (max-width: 576px) {
    .media{
        display:none;
    }
 .navbar{
    margin: 0 auto;
    width: 361px;
    
 }   
    
.logo{
     padding-left: 20px; 
}
ul{
    margin: 30px 0px 0px 30px;
    gap: 1px; flex-wrap: wrap;
    padding-right:16px ;
}
.nav-links{
    gap: 0px;
}
.banner{
    flex-direction: column-reverse;
    /* margin-top: 28px; */
   margin: 28px auto; 
   width:361px ;

}
.banner-right img{
    padding-top:10px ;
    height:auto; width: 370px;
    

}
.banner-left{
      width: 361px; 
    padding-top: 28px;
    
      height:299px;  }
.banner-title{
    padding-bottom: 13px;
    font-size:24px;
    padding: 0px 16px 13px 16px;
}
    
.banner-description{
    font-size:14px ;
    color: rgba(0, 0, 0, 0.5);
    padding: 0px 17px 0px 16px;

}
/* card section  */
.card {
    display: grid;
    grid-template-columns: repeat(2,1fr);
      gap: 5px;  
  width: 362px;
   margin: 0 auto;
   


  
}
.main-text{
    text-align: center;
    padding-top: 0;
}
.main-text-title{ margin-bottom:16px ;
    font-size:24px ;
    font-family: 700;

}
.main-text-description{
       font-size:14px ;
    color: rgba(0, 0, 0, 0.5); 
    max-width: 336px;
   margin-bottom: 10px;}

.main-card{
    width:180px;  
    margin: 0 auto;
    
}
.main-card img{
    width: 100%;
}

/* challange-part  */
.challange{
    margin-top:42px ;
    width:358px ; height:396px;
    
    display: block;
    

}
.badge img{
    display: none;
}
.store{
     max-width:358px; height:396px;
     margin: 0 35px;
   

}
.c-right{
    padding-left:0px ;
    margin: 18px 0;
width:358px ; height:396px;}

.c-right-head{
    width: 270px ; height: 33px;
    font-size:24px ;
      margin: 0 35px;
   
}

.c-right-description li{
    color: #8987A1;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 20px;
    width: 361px; 
      margin: 0 20px; 
}
.deals{
    margin-top: 400px;
}
.deals-head{
    font-size: 24px;
    font-weight: bold;
}
.deals-description{
    font-size: 14px;
    font-weight: 600;
    width: 336px; height: 68px;
    margin: 20px auto;
}
.deals-pic {
    margin-top:51.5px ;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    width: 361px; height: 581px;
}
.deals-pic-right {
    width: 357px;
     height: 201px;
    text-align: center;
    color: #ffffff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 14px;
    position: relative;
    z-index: 1;
    margin-top: 20px;
}
.deals-pic-left{
    margin: 10px 30px;
}
    
.background-3{
    padding-top: 80px;
    
}
.deals-pic-right-head{
    font-size:20px ;
    font-weight: bold;
} 
.deals-pic-right-link {
       font-size:16px ;
       font-weight: 500;
}


}