*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.contain{
    max-width: 1140px; margin: auto;
}
.navbar{
    display: flex;  
     justify-content: space-between;
     align-items: center;

}
ul{
    display: flex;
    gap: 48px; 
    list-style: none;}
    

   

a{
    text-decoration: none; color: #8987A1 ;
    font-weight: 600;
}
.black{
    color: black;
}
/* banner styling */
.banner{
    margin-top: 7.5rem;
    display: flex;
    
     height: 28.8125rem; 
     /* border: 1px solid tomato; */
    
}
/* banner-left styling */
.banner-left{
     width: 50%; 
    padding-top: 10.125rem;
      height:299px;  
}
.banner-title{
    padding-bottom: 13px;
    font-size:4.0625rem;
    font-family: ;
}
.banner-description{
    font-size:1.375rem ;
    color: rgba(0, 0, 0, 0.5);
}
.orange{
    color: #E95A08;
}
/* banner-right styling */
.banner-right img{
    padding-top:80px ;
     width:570px; 
}
 /* main-text styling */
 .main-text{
    text-align: center;
    padding-top: 120px;
 }
 .main-text-title{
    margin-bottom:16px ;
    font-size:50px ;
    font-family: 700;
 }
 .main-text-description{
       font-size:1.375rem ;
    color: rgba(0, 0, 0, 0.5); 

 }
/* MAIN-CARD STYLING */
.main-card{
    width: 270px; height: 48px; 
    
}
.main-card img{
    height: 323px; width: 100%;
}


   

.lily{ text-align: center; 
    font-size: 22px;

}
.usd{
 text-align: center; 
    font-size: 22px;
    font-weight: bold;
}




.btn{
    height: 50px ; width: 100%;
}




















@media screen and (max-width: 576px) {
    .media{
        display:none;
    }
    .comtain{
        max-width: 360px; 
        padding: 0px 20px 0px 20px;
    }
    
.logo{
     padding-left: 20px; 
}
ul{
    margin: 30px 0px 0px 30px;
    gap: 1px; flex-wrap: wrap;
    padding-right:16px ;
}
.banner{
    flex-direction: column-reverse;
    margin-top: 28px;
    

}
.banner-right img{
    padding-top:10px ;
    height:auto; width: 393.18px;
    padding-right:0px;
}
.banner-left{
      width: 361px; 
    padding-top: 28px;
    
      height:299px;  }
.banner-title{
    padding-bottom: 13px;
    font-size:24px;
    padding: 0px 16px 13px 16px;
}
    
.banner-description{
    font-size:14px ;
    color: rgba(0, 0, 0, 0.5);
    padding: 0px 17px 0px 16px;

}
   

    
}